In [1]:
habitantes = {'Salamanca': 50000, 
            'Mallorca': 35000, 
            'Madrid': 5000000, 
            'Alicante': 40000, 
            'Las Palmas': 60000, 
            'Granada': 50000}

In [2]:
habitantes.get('Mallorca')

35000

In [3]:
habitantes['Mallorca']

35000

In [4]:
dic1 = {'a': [1,2],
        'b': [3,4]}

In [5]:
dic1['a'][0]

1

In [6]:
list(habitantes.keys())

['Salamanca', 'Mallorca', 'Madrid', 'Alicante', 'Las Palmas', 'Granada']

In [7]:
habitantes['Las Palmas'] = 65000
habitantes

{'Salamanca': 50000,
 'Mallorca': 35000,
 'Madrid': 5000000,
 'Alicante': 40000,
 'Las Palmas': 65000,
 'Granada': 50000}

In [8]:
actualizar = {'Las Palmas': 70000}
habitantes.update(actualizar)
habitantes

{'Salamanca': 50000,
 'Mallorca': 35000,
 'Madrid': 5000000,
 'Alicante': 40000,
 'Las Palmas': 70000,
 'Granada': 50000}

In [15]:
print(habitantes)

{'Salamanca': 50000, 'Mallorca': 35000, 'Alicante': 40000, 'Las Palmas': 70000, 'Granada': 50000}

In [16]:
lista1 = ['perro','gato','caballo','perro','hormiga','elefante']
lista2 = ['perro','rana','caballo','hormiga','mariposa']

In [17]:
set1 =set(lista1)
print(set1)
set2 =set(lista2)
print(set2)

{'elefante', 'perro', 'caballo', 'gato', 'hormiga'}
{'perro', 'mariposa', 'rana', 'caballo', 'hormiga'}

In [19]:
set1.intersection(set2)

{'caballo', 'hormiga', 'perro'}

In [22]:
set3 = set1.union(set2)

In [23]:
set3.remove('perro')
set3

{'caballo', 'elefante', 'gato', 'hormiga', 'mariposa', 'rana'}

In [24]:
set3.discard('cocodrilo')

In [26]:
nuevos_animales = ['mariquita', 'conejo']
set3.update(nuevos_animales)
set3

{'caballo',
 'conejo',
 'elefante',
 'gato',
 'hormiga',
 'mariposa',
 'mariquita',
 'rana'}